/* google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

/*===========default css link here==========*/
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}

.col-70 {
    width: 70%;
    margin: 0 auto;
    padding: 0 15px;
}

.col-30 {
    width: 30%;
    margin: 0 auto;
    padding: 0 15px;
}

.col-33 {
    display: 33.33%;
    margin: 0 auto;
    /* padding: 0 15px;  */
}

.col-40 {
    display: 40%;
    margin: 0 auto;
    padding: 0 15px;
}

.col-60 {
    display: 60%;
    margin: 0 auto;
    padding: 0 15px;
}

.col-50 {
    display: 50%;
    margin: 0 auto;
    padding: 0 15px;
}
/*==========default animation==========*/
.btn{
    transition: 0.1s;
}
.btn:hover{
    background: wheat;
    color: red;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ==========Header section start from here============ */

.header-content {
    text-align: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/Banner-Image.png');
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.header-content h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.header-content h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

header {
    margin: 30px 0;
}

/* =======Offer section style start from here======= */

.offer-content {
    text-align: center;
    font-family: 'Inter';
}

.offer-content h2 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 40px;
}

.offer-content p {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0;
}

.offer-content h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;

}

.offer-img {
    max-width: 800px;
    margin: 0 auto;
}

.offer-img img {
    width: 100%;
}

#offer-section {
    margin: 60px 0;
}

/* =========welcome section start here========== */

.welcome-content {
    text-align: left;
    margin-top: 60px;
}

#welcome-section {
    margin: 60px 0;
}

.welcome {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../image/Vectorrr.png');
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    border-radius: 18px;

}

.welcome-content h2 {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0;
}

.welcome-content a {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.welcome-img img{
    transition: 0.8s;
}
.welcome-img img:hover{
    scale: 1.1;
    box-shadow: 12px 15px 25px -2px rgba(0,0,0,0.72);
-webkit-box-shadow: 12px 15px 25px -2px rgba(0,0,0,0.72);
-moz-box-shadow: 12px 15px 25px -2px rgba(0,0,0,0.72);
}

/* ======rutine section start from here======= */

.rutine-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px 0;
    border-radius: 18px;
}

.rutine-container h3 {
    color: #070211;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;

}

.rutine-container span {
    color: #F00;
}

#rutine-section {
    margin: 60px 0;
}

.rutine-container button {
    color: #FFF;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin-top: 40px;
}

/* =========coming soon section=========== */

.coming-soon-container {
    display: flex;
    align-items: center;
}

.coming-img-container {
    max-width: 360px;

}

.coming-img-container img {
    width: 100%;

    margin: 3px;
    transition: 0.5s;
}
.coming-img-container img:hover{
    scale: 1.1;
}

.coming-img {
    border-radius: 50%;
    border: 15px solid red;
}

.left-content h3 {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.left-content h2 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 24px 0;
}

.left-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.right-content h3 {
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 24px 0;
}

/* =======holiday sale start from here======== */
.holiday-content h5 {
    color: #070211;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    transition: 0.8s;
}
.holiday-content h5:hover{
    scale: 1.1;
}

.holiday-content h2 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
    transition: 0.8s;
}
.holiday-content h2:hover{
    scale: 1.1;
}

.holiday-content h2 span {
    color: #F00;
}

.holiday-content p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
    transition: 0.8s;
}
.holiday-content p:hover{
    scale: 1.1;
}

#holiday-sale-section {
    margin: 0 auto;
}

#holiday-sale-section .top-img {
    position: relative;
}

#holiday-sale-section .top-img img {
    float: right;
}



#holiday-sale-section .bottom-img img {
    width: 1525px;



}

.bottom-img {
    background: url('../image/Group-75.png');
    background-repeat: no-repeat;
    background-position: top bottom;



}

.discount {
    position: absolute;
    right: 25%;
    margin-top: 80px;
}

#holiday-sale-section {
    margin: 80px 0;
}

/* ======collection section start from here====== */

.collection-content h5 {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    transition: 0.8s;
}
.collection-content h5:hover{
    scale: 1.1;
}

.collection-content h3 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 20px 0;
    transition: 0.8s;
}
.collection-content h3:hover{
    scale: 1.1;
}

.collection-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
    transition: 0.8s;
}
.collection-content p:hover{
    scale: 1.1;
}

.img-collections {
    display: flex;

}

.img-box {
    width: 524px;


}

.img-box img {
    width: 100%;
    transition: 0.8s;

}
.img-box img:hover{
    scale: 1.1;
}

.collection-img-container {
    margin: 0 20px;
}

#collection-section {
    margin: 60px 0;
}

/*======email subscribtion section start from here=====*/

.email-subscribtion-content {
    text-align: center;
}

form input[type='email'] {
    width: 648px;
    padding: 20px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: none;
}

.email-subscribtion-content {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
}

form input[type='submit'] {
    padding: 20px 40px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;

    text-transform: capitalize;
    margin-left: -20px;
}

.email-subscribtion-content img {
    width: 150px;
    height: 150px;
    transition: 0.8s;
}
.email-subscribtion-content img:hover{
    scale: 1.1;
    box-shadow: 12px 15px 25px -2px rgba(0,0,0,0.72);
-webkit-box-shadow: 12px 15px 25px -2px rgba(0,0,0,0.72);
-moz-box-shadow: 12px 15px 25px -2px rgba(0,0,0,0.72);
}

.email-subscribtion-content h3 {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
    transition: 0.8s;
}
.email-subscribtion-content h3:hover{
    scale: 1.1;
}

.email-subscribtion-content p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 22px;
    transition: 0.8s;
}
.email-subscribtion-content p:hover{
    scale: 1.1;
}

.form-container {
    margin-top: 20px;
}

.footer-top {
    display: flex;
    color: #FFF;

    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    ;

}


footer {
    background: #070211;
    color: white;
    margin-top: 100px;
}

.call,
.web {
    display: flex;
}

.call,
.web {
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

}

.footer-container {
    padding: 120px 0;

}

.footer-middle {

    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    padding: 60px 0;

}
.footer-middle img{
    transition: 0.5s;
}
.footer-middle img:hover{
    scale: 1.5;
}

.footer-bottom {
    border: none;
    padding: 30px 0;
    align-items: center;
    text-align: center;
}

.footer-bottom {
    display: flex;
}

.footer-bottom h3 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}